# Ignore Gradle project-specific cache directory
.gradle
**/.gradle

# Ignore Gradle build output directory
build
**/build
*/gradle
*/*/gradle

#
testing/extraction/extraction
testing/extraction/*.zip

testing/usage/hybris

#idea
.idea